@charset "utf-8";
/* CSS Document */
@font-face { src: url(http://fonts.googleapis.com/css?family=Lato) }

html, body {
  margin: 0;
  background-color: darkgray;
  font-family: 'Lato', sans-serif;
}

header, section {
  width: 97%;
  border-right: 3vw solid rgb(82,156,7)
}
header {
  margin: 0;
  font-size: 1.2em;
  padding: 3% 0 0 0;
  color: rgb(82,156,7);
  background-color: rgba(0,0,0,0.8)
}
header i {
  font-size: 1.5em;
  margin: 0 10px 0 10px
}
header h2 { display: inline-block }

.fa {
  width: 2%;
  text-align: center
}

section {
  color: darkgray;
  padding: 10px 0 0 0;
  background-color: rgba(0,0,0,0.8)
}

article {
  width: 47%;
  display: inline-block;
  vertical-align: middle;
  vertical-align: bottom
}
article img {
  width: 70%;
  margin-left: 50px;
  margin-bottom: -5px;
  vertical-align: bottom;
  transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.animate { 
  transform: translateX(1000px);
  -o-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  -moz-transform: translateX(1000px);
  -webkit-transform: translateX(1000px);
}

form {
  width: 100%;
  height: 100%
}
form label, form input, form textarea {
  width: 58%;
  border: none;
  height: 30px;
  margin-left: 20%;
  padding: 1% 1% 1% 1%;
  display: inline-block
}
form label {
  font-size: 20px;
  padding-top: 15px;
  line-height: 30px
}
form input[type="text"], form input[type="email"], form textarea {
  font-size: 20px;
  vertical-align: top
}
form input[type="text"]:focus, form input[type="email"]:focus, form textarea:focus { outline-color: rgb(82,156,7) }
form textarea { 
  width: 48%;
  height: 75px;
  min-width: 58%;
  max-width: 58%;
  max-height: 150px;
  vertical-align: top;
  padding: 1% 1% 1% 1%;
  font-family: 'Lato', sans-serif
}
form input[type="submit"] {
  width: 25%;
  font-size: 15px;
  margin: 20px 0 40px 37.5%;
  background-color: rgb(82,156,7);
  transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out
}
form input[type="submit"]:hover {
  cursor: pointer;
  background-color: darkgray
}

footer {
  width: 99%;
  text-align: right;
  color: rgba(0,0,0,0.8);
  margin: 20px 1% 20px 0
}
footer label {
  padding-right: 5px;
  border-right: 1px solid rgba(0,0,0,0.8)
}
footer i { margin: 0 }
footer .fa { width: auto }
footer a { color: rgba(0,0,0,0.8) }

@media only screen and (max-width : 1000px) {
  article img { width: 85% }
  form label, form input, form textarea { width: 60% }
  form textarea {
    min-width: 60%;
    max-width: 60%
  }
  form input[type="submit"] { margin-left: 40% } 
}

@media only screen and (max-width : 730px) {
  .fa { 
    vertical-align: middle;
    margin: 0 10px 0 10px
  }
  header h2 { 
    font-size: 1em;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle
  }
  article {
    width: 100%;
    display: block
  }
  article img { 
    width: 70%;
    margin: 0 0 -5px 15%
  }
  form label, form input, form textarea { 
    width: 78%;
    font-size: 1em;
    margin: 0 0 0 10%;
    padding: 1% 1% 1% 1%
  }
  form textarea { max-width: 80% }
  form input[type="submit"] { 
    width: 35%;
    margin-left: 32.5%
  }
  footer{
    margin-top: -10%;
    font-weight: bold;
    text-align: center;
    color: rgba(0,0,0,0.8)
  }
  footer label { 
    border: none;
    display: block
  }
}

@media only screen and (max-width : 340px) {
  form label, form input, form textarea { 
    width: 68%;
    font-size: 0.8em;
    margin: 0 0 0 10%;
    padding: 1% 1% 1% 1%
  }
  form input[type="text"], form input[type="email"], form textarea { font-size: 0.9em }
  form input[type="submit"] { margin-left: 27.5% }
}

